// #TODO
// 
// * 1050px size dimension gives some other styles
//   Should probably be altered to @desktop or other
// * Fonts


///////////
// Fonts //
///////////
@font-face {
  font-family: HelveticaNeue;
  src: url(fonts/HelveticaNeue-UltraLight.otf);
}
@font-face {
  font-family: BergamotOrnaments;
  src: url(fonts/BergamotOrnaments.ttf);
}


///////////
// MEDIA //
///////////
@mobile: ~"screen and (max-width: 480px)";
@desktop: ~"screen and (min-width: 1090px)";


///////////////
// Variables //
///////////////
// Header
@header-height: 70px;
@transition-time: 1s;
@header-background-color: rgba(250,250,250,1.0);
@header-menu-background-color: @header-background-color;// rgba(255,255,255,0.95);
@header-desktop-collapsed-background-color: rgba(255,255,255,0.2);
@header-desktop-expanded-background-color: rgba(255,255,255,0.8);
@header-desktop-collapsed-color: #DDD;
@header-desktop-expanded-color: #333;

@header-link-color: #333;
@header-logo-width: 90px;

@header-font-color: #666;
@header-title-font-size: 24px;
@header-padding: 16px;
@header-height: @header-title-font-size + (@header-padding*2);

@menu-icon-width: 25px;

// Page
@page-background-color: #FFF;
@page-header-color: #FFF;
@page-header-background-color: rgba(65, 236, 243, 0.5);
// Image separator
@image-separator-height: 400px;

@p-font-size: 16px;
@p-max-width: @p-font-size*30;


// @col1: #458385;
// @col2: #B6FCFF;
// @col3: #81CFD2;
// @col4: #855637;
// @col5: #D2A181;

@col1: #81CFD2;
@col2: #99B5FF;
@col3: #B7D7FF;
@col4: #7EE0AD;
@col5: #90FFB1;



html, body {height: 100%; margin:0;}


// Top logo
.big_logo {
  z-index: -1;
  position: fixed;
  left:63%; top:20%;
  width: 30%;

  // transform: translateZ(0);
  img {
    width:100%;

    // transition: opacity 0.3s;


    &.hide {
      display: none;
      // opacity: 0.0;
    }
  }
}



// Remove #debug

body {
  background-color: @col1;



  @media @desktop {
    html.no_parallax & {
      background-image: url(../images/lekfull_2_cropped_2.jpg);
      // background-position: center center;
      // background-size: cover;
      background-size: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }
}

////////////
// HEADER //
////////////
header {

  z-index: 10;

  // Positioning
  position: fixed;
  top:0;
  left: 0;
  width: 100%;

  color: @header-font-color;

  // box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

  // Reset links to match inherited
  a {
    text-decoration: none;
    color: inherit;
  }

  .separator {
    position: absolute;
    width: 0%;
    left: 50%;
    top: @header-height + 5;
    color: rgba(170,170,170,0.56);
    border-top: solid 1px;

    // transition: all 500ms ease;
  }
  &.revealed .separator {
    width: 70%;
    left: 15%;
  }

  img.header_logo {
    height: @header-height;

    z-index: 15;

    // If we don't show any text we place it in the center
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -28px; // Half width of image

    // float: right;
    // margin-top: -15px;
  }
  
  // Fixed bar on top of screen
  // With menu button which reveals links
  #menu_link {
    // On bigger screens we show another type
    // moved to common media query
    // @media @desktop {
    //   display: none;
    // }

    position: relative;
    z-index: 12;
    transform: translateZ(10);

    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);

    background-color: @header-background-color;
    // border-radius: 10px;

    display: block;
    width: 100%;
    height: @header-height;

    text-align: center;
    font-size: @header-title-font-size;
    // padding-top: @header-padding;
    // padding-bottom: @header-padding;

    // Credit to Mr Robson - http://alwaystwisted.com/post.php?s=2012-05-12-create-a-pure-css-menu-button
    .menu_icon {
      float: left;
      display: inline-block;
      border-bottom: 12px double; 
      border-top: 4px solid; 
      content:"";
      height: 5px; 
      width:25px;

      margin-left: 1em;
      margin-top: 16px;

      // transition: all 500ms ease;
    }

    // Display name of page
    h2.menu_title {
      display: none; // IF we don't wanna show it
      // display: inline-block;
      padding: 0;
      margin: 0;
      // margin-left: -@menu-icon-width;
      font-size: inherit;
      font-family: HelveticaNeue;
    }

    
  }


  .menu_container {
    width: 100%;
    overflow: hidden;
    background-color: @header-menu-background-color;

    transform: translate3d(0,-350px,0);
    transition: all 0.5s ease;

    // box-shadow: 0px 1px 10px rgba(0,0,0,0.2);

    nav {
      // max-height: 0em;
      // overflow: hidden;

      // transform: translate3d(0,-200px,0);

      // transition: all 500ms ease;

      ul {
        padding-left: 1em;
        padding-right: 1em;
        list-style: none;
      }
      li {
        border-bottom: solid 1px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-family: HelveticaNeue;
        font-size: 1.3em;
      }
      a {
        display: inline-block;
        width: 100%;
      }
    }
  }

  &.revealed .menu_icon {
    // transform: rotateZ(180deg);
  }

  &.revealed .menu_container {
    transform: translate3d(0,0,0);
  }

  &.revealed .menu_container nav {

    // max-height: 15em;
    padding-bottom: 1.0em;
  }


  @media @desktop {

    text-align: center;

    .header_logo {
      display: none;
    }

    #menu_link {
      display: none;
    }

    .menu_container {
      position: absolute;
      width: 80%;
      left: 10%;

      background-color: @header-desktop-collapsed-background-color;

      border-radius: 20px;

      transform: translate3d(0,0,0);

      nav {
        max-height: 100%;
        margin-top: 0;

        // margin-top: 10px;

        li {
          display: inline;
          border: 0;

          font-family: HelveticaNeue;

          margin-right: 20px;
          font-size: 2em;
        }
        a {
          display: inline;
          color: @header-desktop-collapsed-color;

          transition: all 0.5s ease;

          &:hover {
            color: lighten(@header-desktop-collapsed-color, 20%);
          }
        }
      } 
    }

    // When scrolled a bit the header is expanded
    &.expanded {
      .menu_container {
        width: 100%;
        left: 0;
        border-radius: 0;

        // box-shadow: 0px 1px 5px rgb(200,200,200,0.1);

        background-color: @header-desktop-expanded-background-color;
        // color: @header-desktop-expanded-color;

        nav {

          a {
            color: @header-desktop-expanded-color;
            &:hover {
              color: lighten(@header-desktop-expanded-color, 50%);
            }
          }
        }
      }
    }
  }


//   // Logo
//   .header_logo {
//     display: inline-block;
//     position: fixed;
//     width: @logo-width;
//     top: 0;
//     left: 0;
//   }

//   // Tabs
//   .tabs {
//     text-align: center;
//     margin-left: @logo-width;
//     margin-top: 20px;
//   }

//   // Links
//   a.tab {
//     color: @link-color;
//     text-decoration: none;
  
//     font-family: HelveticaNeue;
//     font-size: 1.5em;

//     margin-right: 10px;

//     &:hover {
//       color: lighten(@link-color, 50%);
//     }
//   }


//   // Enables animation when toggling between Small and Regular header
//   // Regular should be the default header for browsers where javascript-scrollevent isn't used
//   // Javascript has responsibility to enable transition !after! applying <class> .small
//   &.transition_enabled {
//     transition: background-color @transition-time, width @transition-time, left @transition-time, border-radius @transition-time;

//     a.tab {
//       transition: color 0.3s;
//     }
//   }


//   ///////////
//   // SMALL //
//   ///////////
//   &.small {
//     @link-color: #DDD;

//     width: 80%;
//     left: 10%;
//     border-radius: 20px;
//     background: @header-background-small;

//     // Logo
//     .header_logo {
//       display: none;
//     }

//     // Tabs
//     .tabs {
//       margin-left: 0;
//     }

//     a.tab {
//       color: @link-color;
//       &:hover {
//         color: lighten(@link-color, 50%);
//       }
//     }
//   }
}


//////////
// PAGE //
//////////
.page {
  background-color: @page-background-color;
  // z-index: 1;

  background-image: url(../images/diamond_upholstery.png);

  // Header
  .header {
    display: block;
    width: 100%;
    text-align: center;

    // background-image: url(../pics/blao.jpg);
    background-color: @page-header-background-color;
    color: @page-header-color;

    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    // Title
    h1 {
      font-family: HelveticaNeue;
      font-weight: normal;
      font-size: 4em;

      margin: 0;
    }
  }

  // Ornament
  .ornament {
    font-family: BergamotOrnaments;
    font-size: 28px;
  }

  // Content
  .content {
    // @p-font-size: 16px;
    // @p-max-width: @p-font-size*30;

    font-family: garamond;
    padding: 40px;
  
    h2, h3 {
      font-family: HelveticaNeue;
      font-weight: 300;
      font-size: 1.5em;      

      max-width: @p-max-width;
      margin-left: auto;
      margin-right: auto;
      &::first-letter {
        font-size: 1.5em;
      }
    }

    p {
      margin-left: auto;
      margin-right: auto;

      font-size: @p-font-size;
      max-width: @p-max-width;
      line-height: @p-font-size + 2;
    }    

    // Lists
    ul {
      display: block;
      max-width: @p-max-width;
      margin: auto;
      font: italic 1em Georgia, Times, serif;
      color: #999999;

      p {
        margin: 0;
        font: normal 1em garamond;
        color: black;
      }

      li::first-letter {
        font-weight: bold;
      }
    }

    // Emphasis
    strong {
      color: #333;
      font-style: italic;
    }

    .first_letter {
      font-size: 1.5em;
    }


    div.ornament {
      text-align: center;
      font-size: 2em;
    }
  }

  // Page specific
  &#about {

    padding-bottom: 100px; // To create some space under #contact

    .page_image {
      display: none;
    }

    .content  {
      .first_letter {
        font-size: 2.5em;
        line-height: 1.0;
        // margin: 20px 20px 0 0;
        // float: left;
      }      
    }
  }


  ////////////
  // Footer //
  ////////////
  // Dålig markup för tillfället
  #contact {

    margin: auto;
    // margin-top: 100px;

    background-color: @page-header-background-color;

    width: 440px;
    height: 440px;

    border-radius: 50%;

    .contact_header {
      // display: block;
      margin: auto;
      color: @page-header-color;

      text-align: center;

      // border-radius: 50%;

      h1 {
        display: inline-block;

        font-family: HelveticaNeue;
        font-size: 3.5em;
        font-weight: normal;

        border-top: solid 1px;
        border-bottom: solid 1px;
        border-color: @page-header-color;

        margin: 0;
        margin-top: 0.7em;
      }

      .ornament {
      }
    }

    .contact_content, .contact_photos {
      font-family: garamond;

      // color: white;

      p {
        text-align: center;
        font-size: @p-font-size;
      }

      a {
        color: #777;
        &:visited {
          color: #777;
        }
      }

    }
    

    iframe.map {
      display: block;
      margin: auto;
    }
  }
}




// First page
// Just a placeholder for space
.first_page.image_separator {
  margin-top: @header-height;
  // width: 100%;
  // height: 100%;

  @media @desktop {
    margin-top: 0;
    height: 100%;
    max-height: 100%;
  }
}


// Spacing between pages
.image_separator {
  width: 100%;
  max-height: @image-separator-height;

  overflow: hidden;


  @media @desktop {
    height: @image-separator-height;

    html.no_parallax & {
      background-attachment: fixed;
      background-repeat: no-repeat;;
      background-position: center center;
      // background-size: cover; 
      background-size: 100%;

      // transform: translateZ(0);

      &.coaching {
        background-image: url(../images/ringblomma_cropped.jpg);
        background-color: @col1;
      }
      &.eq {
        background-image: url(../images/apples_4_cropped.jpg); 
        background-color: @col2;
      }
      &.project {
        background-image: url(../images/tree_cropped.jpg);
        background-color: @col3;
      }
      &.about {
        background-image: url(../images/skraddar_cropped2.jpg); 
        background-position: center 20%;
        background-color: @col4;
      }

      .para_div {
        display: none;
      }
    }
  }


  
}



@media @mobile{
  @header-font-size: 16px;
  @header-padding: 12px;
  @header-height: @header-font-size + (@header-padding*2);

  @header-background-color: rgba(255, 255, 255, 0.9);
  @header-font-color: #AAA;

  // header {
  //   background-color: @header-background-color;

  //   .header_logo {
  //     display: none;
  //   }

  //   .tabs {
  //     margin-left: 0;
  //   }

  //   a.tab {
  //     font-size: 1em;
  //   }
  // }

  // .first_page {
  //   height: 40%;
  // }

  .page {

    .header {
      h1 {
        font-size: 2em;
      }
    }


    #contact {
      width: 300px;
      border-radius: 20px;

      // height: 200px;
    }
  }

  .image_separator {
    display: block;
  }
}





/////////////////
// MEDIA-Query //
/////////////////
@media screen and (min-width: 1050px) {
  @page-header-width: 35%;
  @page-header-max-width: 480px;
  @page-min-height: 500px;


  ////////////
  // Header //
  ////////////
  header {
    
    // Compensate larger links with less padding top
    .tabs {
      margin-top: 10px;
    }
    // Make links a bit larger
    a.tab {
      margin-right: 20px;
      font-size: 2em;
    }
  }

  //////////
  // PAGE //
  //////////
  .page {
    min-height: @page-min-height;

    // Header
    .header {
      // margin-left: 100px;

      display: inline-block;
      float: left;

      width: @page-header-width;
      max-width: @page-header-max-width;
      min-height: 300px;

      margin-left: 5%;
      // margin-left: 100px;
      // margin-top: 100px;

      // border-bottom-right-radius: 0%;
      // border-bottom-left-radius: 50%;
      // border-top-right-radius: 50%;
      // border-top-left-radius: 0%;

      // Title
      h1 {
        display: inline-block;

        margin-top: 106px;
        padding-top: 7px;
        padding-bottom: 7px;

        border-color: @page-header-color;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-top-width: 1px;
        border-top-style: solid;
      }
    }

    // Content
    .content {
      margin-left: @page-header-width;
    }

    ///////////////////
    // Page specific //
    ///////////////////
    // About
    &#about {
      .page_image {
        display: inline-block;
        clear: left;
        float: left;

        margin-left: 5%;
        width: @page-header-width;
        max-width: @page-header-max-width;

        img {
          width: 50%;
          margin-left: 25%;
          margin-top: 10%;
          border-radius: 50%;
        }  
      }

      .content .first_letter {
        // clear: both;
      }
    }
  }
}



//////////////
// PARALLAX //
//////////////
// Parallax enabled
// Alternates some CSS used
html.parallax {
  body {
    background-image: none;
  }

  // Parallax - CSS
  .para_div {

    display: block;
    // position: fixed;
    visibility: hidden;
    overflow: hidden;

    width: 100%;


  //   z-index: -1;

  //   .para_img {
  //     width: 100%;
  //   }
  }

  // .first_page {
  //   overflow: hidden;
  //   z-index: -5;
  // }

  .para_img {
    // position: absolute;
    width: 100%;
  }

  .image_separator {
    z-index: -1;

    background-image: none; 
    background-color: transparent;

    overflow: hidden;
    position: relative;
  }
}

// Parallax images when inactivated
.para_div {
  // display: none;

  img {
    display: block;
    width: 100%;
  }
}